DATABASE_URL='http://localhost:5432'

NEXT_PUBLIC_APP_URL='http://localhost:3000'
# TODO i need to add image base url , so that i can validate it inside mine next.config.ts , and also use the images.remotePattern , it shouel live inside env.client and it can be same as NEXT_PUBLIC_APP_URL or completely different when useing S3 or cloudinary 