NEXT_PUBLIC_APP_URL='http://localhost:3000'
NEXT_PUBLIC_IMAGE_BASE_URL='http://localhost:3000'


DATABASE_URL="mysql://root@localhost:3306/paurakh_travels"
PEPPER='sadasdasd'
ACCESS_TOKEN_SECRET="your-access-secret-min-32-chars-long"
REFRESH_TOKEN_SECRET="your-refresh-secret-min-32-chars-long"




# Cloudflare R2 Config
R2_ACCOUNT_ID="43cxxxxxxxxxxxxxxxxxxxxxxx53c5"
R2_ACCESS_KEY_ID="e42a1exxxxxxxxxxxxxxxxxxxx94f2f31e84"
R2_SECRET_ACCESS_KEY="ed8fb0deexxxxxxxxxxxxxxxxxxxxxxxxxxddc49f2df9"
R2_BUCKET_NAME="trekkingtopnepal"
R2_PUBLIC_URL="https://www.trekkingtopnepal.com"
